* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    font-family: SF Pro display;
}

.background {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../assets/images/background-img.jpg");
    width: 100%;
    height: 42rem;
    background-position: center;
    background-position: top;
    background-size: cover;
}

.logo {
    width: 10rem;
    cursor: pointer;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 12vw;
    align-items: center;
}

.lang {
    background-color: rgba(23, 22, 22, 0.578);
    color: white;
    display: flex;
    align-items: center;
    gap: 0.2rem;
    border: 1px solid rgb(91, 89, 89);
    border-radius: 3px;
    justify-content: center;
    padding: 0.2rem 0.5rem;
    font-size: 1rem;
    padding: 0.35rem;
    cursor: pointer;
}

.left-side-nav {
    display: flex;
    align-items: center;
}

.language-logo {
    width: 25px;
}

.lang i {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding-bottom: 0.2rem;
}

.sign-in {
    background-color: #e50914;
    color: white;
    border: none;
    padding: 0.43rem 1rem;
    border-radius: 3px;
    margin-left: 1rem;
    font-size: 1rem;
    cursor: pointer;
}

.hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 10rem;
}

.heading {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1.2rem;
}

.sub-heading {
    font-size: 1.5rem;
    margin-bottom: 1.2rem;
}

input {
    width: 25rem;
    font-size: 1rem;
    padding: 1rem;
    background-color: rgba(30, 30, 30, 0.578);
    border: 1px solid gray;
    border-radius: 5px;
    margin-right: 0.2rem;
    color: white;
    cursor: pointer;
}

.get {
    background-color: #e50914;
    color: white;
    border: none;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.8rem 1.88rem;
    margin-left: 0.2rem;
    border-radius: 5px;
    cursor: pointer;
}

.email-input {
    display: flex;
    justify-content: center;
    align-items: center;
}

.horizontal-line {
    height: 0.5rem;
    background-color: rgba(40, 38, 38, 0.903);
}

.first-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 10rem 5rem;
    gap: 5rem;
}

.video {
    position: relative;
}

.video-it {
    position: absolute;
    left: 65px;
    z-index: -5;
    top: 60px;
    width: 400px;
}

.img {
    width: 500px;
}

.second-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 9rem;
}

.mobile {
    position: relative;
    z-index: -2;
    align-items: center;
    width: 30rem;
    top: 3rem;
    height: 24rem;
    object-fit: cover;
}

.download {
    position: relative;
    top: -5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
    left: 6.5rem;
    background-color: black;
    padding: 0.5rem;
    border: 2px solid #555555;
    width: 17rem;
    border-radius: 12px;
}

.first-line {
    font-size: 1rem;
    font-weight: bold;
}

.second-line {
    color: #0071eb;
    font-size: 1rem;
    line-height: 1.5rem;
}

.third-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 10rem 5rem;
    gap: 2rem;
}

.right-video video {
    position: absolute;
    left: 5.5rem;
    z-index: -5;
    top: 1.9rem;
}

.right-video {
    position: relative;
}

.content {
    width: 40rem;
}

.fourth-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 9rem;
    gap: 2rem;
}

.faq-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
    justify-content: center;
}

.lines {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    width: 70rem;
    font-size: 1.5rem;
    background-color: #2f2e2e;
    margin-bottom: 0.5rem;
    cursor: pointer;
}

.lines:hover {
    background-color: #454141;
    transition: 0.5s;
}

.normal-line {
    margin-top: 2rem;
    font-size: 1.3rem;
    margin-bottom: 4rem;
}

.normal-line p {
    margin-bottom: 1rem;
}

.footer-container {
    width: 70rem;
    margin: 4rem auto;
}

.footer-container p {
    margin: 0 0 20px 0;
    color: #aea7a7;
}

.footer-links {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.footer-links div {
    display: flex;
    flex-direction: column;
    line-height: 1.5rem;
}

.footer-links a {
    color: #aea7a7;
    text-decoration: underline;
    margin-bottom: 10px;
    font-size: 14px;
}

.footer-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    border-top: 1px solid #333;
    padding-top: 20px;
}

.copyright {
    padding-top: 1.5rem;
}
.footer-phone{
    display: none;
}
.phone-tele{
    display: none;
}